#slika1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -20px;
}

h1,
#text1 {
  text-align: center;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 15px;
}

#bio {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  padding: 30px;
  margin-top: 30px;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 15px;
}

#mywork {
  background-color: #f4f4f4;
  padding: 30px;
  margin-top: 30px;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 15px;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
}
